/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.main-container {
    width: 100%;
    height: 100vh;
    background-color: #009587;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    width: 70%;
    min-width: 850px;
    height: 90%;
    display: flex;
}

.left-side {
    width: 35%;
    height: 100%;
    background-color: white;
}

.right-side {
    width: 65%;
    height: 100%;
}

.top-bar {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.top-bar-left {
    display: flex;
    height: 100%;
    align-items: center;
    color: #b1b1b1;
}

.top-bar-right {
    display: flex;
    height: 100%;
    align-items: center;
    color: #b1b1b1;
}

.top-bar-right i {
    margin: 8px;
}

.avatar-img {
    border-radius: 50%;
    height: 100%;
} 

.user-name {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: black;
    margin-left: 5px;
}

.notice {
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 10px;
}

#bell {
    background-color: white;
    border-radius: 50px;
    padding: 15px 12px;
    margin-right: 10px;
    color: #a2dffe;
}

#notify {
    text-decoration: underline;
    font-size: 12px;
    color: #777777;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 5px;
}

.search-bar {
    width: 100%;
    display: flex;
}

.search-bar-container i {
    border: 1px solid #ededed;
    background-color: white;
    color: #b7babd;
    display: flex;
    align-items: center;
    border-right: none;
    padding-left: 20px;
    width: 15%;
}

.search-bar input {
    font-size: 12px;
    padding: 5px;
    border: 1px solid #ededed;
    border-left: none;
    color: #777777;
    width: 85%;
}

.single-contact {
    display: flex;
    height: 60px;
    padding: 8px;
    border-bottom: 1px solid #e9ebea;
}

main {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.last-seen {
    color: #777777;
    font-size: 12px;
}

/* Messages classes */
.received {
    align-self: flex-start;
    background-color: white;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}


.active {
    background-color: #e9ebea;
}

.messages {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.date {
    color: #b7babd;
    font-size: 10px;
    text-align: right;
    margin-top: 5px;
}
.input-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eaeaea;
    height: 50px;
    padding: 0 10px;
}
.input-bar input {
    width: 80%;
    padding: 8px;
    border: none;
}
.input-bar i {
    color: #777777;
}